{% extends "Cordoba/index.html" %}

{% block titulo %}
<h1 style="font-family: 'Arial', sans-serif; color: white;">Editar Perfil</h1>                               
{% endblock titulo %}

{% block contenido %}   
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Guardar">
</form>

<br>

<!-- Enlace para cambiar la contraseña -->
<p>
    <a href="{% url 'password_change' %}" style="color: rgb(13, 13, 13); text-decoration: none; font-family: Arial, sans-serif;">
    🔒 Establecer nueva contraseña
    </a>
</p>
{% endblock contenido %}
