{% extends 'Cordoba/index.html' %}

{% block titulo %}
<h1>Listado de Unidades Disponibles</h1>
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Año de Fabricacion</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
    {% for u in unidades  %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.nombre }}</td>
            <td>{{ u.marca}}</td>
            <td>{{ u.año_de_fabricacion}}</td>
            <td>{{ u.color}}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}