{% extends 'Cordoba/index.html' %}

{% block titulo %}
<h1>Listado de Vendedores</h1>
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
    {% for v in vendedores  %}
        <tr>
            <td>{{ v.id }}</td>
            <td>{{ v.nombre }}</td>
            <td>{{ v.apellido }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}